.about-wrapper {
  margin-top: 120px;
  position: relative;

  .container {
    max-width: 1170px;
    width: 100%;

    margin: 0 auto;
    display: flex;

    justify-content: space-between;
    align-items: center;
  }

  &__image {
    width: 438px;
    height: 453px;
    position: relative;
    z-index: 1;
  }

  &__description {
    max-width: 570px;
    width: 100%;
    z-index: 1;

    h2 {
      margin: 0;
      padding: 0;

      font-weight: 700;
      font-size: 64px;
      line-height: 78px;

      text-transform: uppercase;

      color: #ffffff;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #ffffff;
    }
  }

  .union-background {
    width: 1278px;
    height: 1009px;
    position: absolute;

    right: 0;
    top: 0;
  }
}
