.homepage {
  margin-top: 30px;
  margin-bottom: 86px;
  position: relative;

  @media screen and (max-width: 768px) {
  }

  &-banner {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 1;

    @media screen and (max-width: 768px) {
      margin-top: 100px;
      max-width: 100%;
      flex-flow: column-reverse;
    }

    &__left {
      max-width: 470px;
      width: 100%;

      display: flex;
      flex-direction: column;

      @media screen and (max-width: 768px) {
        max-width: 100%;
      }

      h1 {
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        text-transform: uppercase;
        color: #ffffff;

        @media screen and (max-width: 768px) {
          font-weight: 700;
          font-size: 32px;
          line-height: 48px;
        }
      }

      p {
        margin-top: 16px;

        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #ffffff;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      .ant-space {
        margin-top: 33px;

        @media screen and (max-width: 768px) {
          margin-top: 27px;
        }
      }

      .btn-buy-now {
        height: 56px;
        width: 119px;
        margin-top: 39px;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 16px 24px;
        gap: 6px;

        background: #17e466;
        border: 3px solid #000000;
        border-radius: 40px;

        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        color: #ffffff;
      }
    }

    &__right {
      height: 492px;
      width: 558px;
      position: relative;

      @media screen and (max-width: 768px) {
        width: 335px;
        height: 295px;
      }
    }
  }
}
