.how-to-buy-wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;

  display: flex;
  justify-content: space-between;
  gap: 0 57px;

  position: relative;
  z-index: 1;

  @media screen and (max-width: 768px) {
    margin-top: 32px;
    flex-flow: column nowrap;
  }

  &__image {
    width: 370px;
    height: 421px;
    position: sticky;
    top: 0;

    @media screen and (max-width: 768px) {
      position: relative;

      width: 221px;
      height: 250px;

      margin: 0 auto;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 65px 0;

    max-width: 770px;
    width: 100%;

    @media screen and (max-width: 768px) {
      max-width: unset;
      gap: 36px 0;
    }

    h2 {
      margin: unset;
      padding: unset;

      font-weight: 700;
      font-size: 64px;
      line-height: 78px;

      text-align: end;
      text-transform: uppercase;

      color: #ffffff;

      @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 24px;

        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 55px 0;
    margin-left: 50px;

    @media screen and (max-width: 768px) {
      margin-left: unset;
      gap: 47px 0;
    }

    .htb-item {
      max-width: 743px;
      height: 242px;
      width: 100%;
      position: relative;

      display: flex;
      justify-content: space-between;
      gap: 0 32px;

      @media screen and (max-width: 768px) {
        padding: 107px 16px 35px;
        height: 100%;
      }

      .text {
        max-width: 500px;
        width: 100%;
        margin-left: auto;
        margin-right: 20px;
        z-index: 1;

        @media screen and (max-width: 768px) {
          margin: unset;
        }
      }

      h2 {
        margin: unset;
        padding: unset;
        text-align: unset;

        font-weight: 400;
        font-size: 32px;
        line-height: 78px;
        color: #ffffff;

        @media screen and (max-width: 768px) {
          font-size: 20px;
          line-height: 30px;
          font-weight: 700;
        }
      }

      p {
        margin: unset;

        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #ffffff;
      }

      .image {
        width: 170px;
        height: 123px;

        position: absolute;
        z-index: 1;

        top: -33px;
        left: -25px;

        @media screen and (max-width: 768px) {
          width: 156px;
          height: 132px;
        }
      }

      .background {
        width: 100%;
        height: 100%;

        background: #253199;
        border: 1px solid #000000;
        box-shadow: 0px 15px 59px rgba(7, 39, 154, 0.4);
        border-radius: 12px;

        position: absolute;
        transform: skew(20deg);
        left: 20px;
        // background: #ffffff url('/homepage/background_meme.png') no-repeat center center;

        @media screen and (max-width: 768px) {
          transform: unset;
          left: 0;
          top: 0;
        }
      }
    }
  }
}
