.wallet-modal {
  padding: 56px 32px 32px;

  @media screen and (max-width: $breakpoint_tablet_max) {
    padding: 36px 10px;
  }

  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: var(--color-text);

    @media screen and (max-width: $breakpoint_tablet_max) {
      padding-top: 62px;
      font-weight: 700;
      font-size: 20px;
      line-height: 36px;
    }
  }

  .sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--color-sub-title);
    padding-top: 8px;

    @media screen and (max-width: $breakpoint_tablet_max) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__button {
    padding: 28px 35px 0px;

    @media screen and (max-width: $breakpoint_tablet_max) {
      padding: 32px 0px 123px;
    }

    .button {
      height: 64px;
      width: 100%;
      border: 1px solid var(--border-modal);
      border-radius: 8px;
      padding: 24px 20px;
      margin-bottom: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--background-modal);

      @media screen and (max-width: $breakpoint_tablet_max) {
        height: 60px;
        padding: 8px 20px;
      }

      &--left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0 30px;

        img {
          width: 40px;
          height: 40px;
          object-fit: contain;
          margin-right: 18px;

          @media screen and (max-width: $breakpoint_tablet_max) {
            width: 32px;
            height: 32px;
          }
        }

        span {
          font-weight: 700;
          font-size: 18px;
          line-height: 150%;
          color: var(--color-text);

          @media screen and (max-width: $breakpoint_tablet_max) {
            font-size: 18px;
            line-height: 25px;
          }
        }
      }
    }
  }
}

.loading-metamask-modal {
  padding: 56px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: $breakpoint_tablet_max) {
    padding: 101px 50px;
  }

  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: var(--color-text);

    @media screen and (max-width: $breakpoint_tablet_max) {
      font-size: 20px;
    }
  }

  img {
    height: 64px;
    width: 69px;
    object-fit: contain;
  }

  .icon {
    margin: 32px 0px;
  }
}
